/* CSS Reset */

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .at-center {
    @apply at-x-center at-y-center;
  }

  .at-x-center {
    @apply left-1/2 -translate-x-1/2
  }

  .at-y-center {
    @apply top-1/2 -translate-y-1/2
  }
}
